.custom-dropdown {
  display: inline-block;
  position: relative;
}

.custom-dropdown select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 5px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
